.cardentry{


    background-color: #fff;
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
    border-radius: 0 20px 20px 20px;
    cursor: pointer;
    transition: .4s;
}

.card-body{
    background: whitesmoke;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding:  0 0 55px;
    padding-top:4px;
    padding-bottom: 4px;
    width:300px;
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 25px;

}
.cardentry:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px,-8px);
}
.image-field{
    height:200px;
    width:200px;
    text-align: center;
    margin: 0 auto;

}
.card-text{
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-left: 35px;
}
.card-description{
    text-align: center;

}

button{
    text-align: center;
    font-size: 24px;
    color:#fff;
    padding: 15px;
    width:100%;
    border:0px;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.buy{
    background-color: #2183a2;
  width: 190px;
}
.Viewdetails{
    background-color: #3b3e6e;

}

.nametext{
    text-align: center;
    padding-right:200px;
    padding-left: 5px;
}

@media(max-width:1000px){
    .cardentry{
        margin:45px;
    }
}
@media(max-width:7500px){
    .cardentry{
       width: 300px;
    }
}

