<mat-toolbar color="primary">
  <span routerLink="/"> E-COMMERCE </span>

  <button routerLink="/">
  <mat-icon color="primary" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  </button>

  <button *ngIf="userService.roleMatch(['Admin'])" >
  Admin Dashboard
  </button>
  <button *ngIf="userService.roleMatch(['User'])" >
    User History
  </button>
  <button *ngIf="userService.roleMatch(['Merchant'])" >
    Merchant Dashboard
  </button>
  <span class="spacer">  </span>

<!--  <button mat-button [matMenuTriggerFor]="menu">Login</button>-->
<!--  <mat-menu #menu="matMenu">-->
<!--    <button mat-menu-item routerLink="/admin">Admin</button>-->
<!--    <button mat-menu-item routerLink="/user">User</button>-->
<!--    <button mat-menu-item routerLink="/merchant">Merchant</button>-->
<!--  </mat-menu>-->

  <button *ngIf="! isLoggedIn()" type="button" class="btn btn-success"
          routerLink="/login" >
    Login
  </button>

  <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger"
          (click)="logout()" >
   Logout
  </button>
</mat-toolbar>
